@import "./variables.scss";

.blur {
  filter: blur(3px);
}

button,
.uk-input,
.uk-textarea {
  border-radius: 5px !important;
  &:focus {
    color: white;
  }
}

.uk-modal {
  background-color: transparent;

  .uk-modal-dialog {
    background-color: $card-color;
    overflow: hidden;
    border-radius: $border-radius;
    transition: none !important;
    transform: translateY(0) !important;
  }

  .uk-modal-footer,
  .uk-modal-header,
  .uk-modal-body {
    background-color: transparent;
    border: none;
    padding: 15px 30px;
  }
  .uk-modal-footer {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    button:not(:first-child) {
      margin-left: 5px;
    }
  }

  input,
  textarea {
    background-color: #ffffff1a !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    color: lightgrey;
  }
  button,
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div {
    color: lightgrey;
  }
}

.uk-dropdown {
  background-color: $card-color;
  .uk-dropdown-nav > li {
    &:hover {
      a {
        color: white;
      }
    }
    a.active {
      color: $color-info;
    }
    & > a {
      color: lightgrey;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color: white, $alpha: 0.1);
    }
  }
}

.selected {
  color: $color-info;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.icon-btn {
  cursor: pointer;
  &:hover {
    color: $color-info;
  }
}

.icon-btn.delete {
  &:hover {
    color: orangered !important;
  }
}

.uk-icon.done {
  polyline {
    stroke-width: 1.6 !important;
  }
  &:hover {
    color: limegreen;
  }
}
