@import "../../styles/variables.scss";
.notes-list {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  box-sizing: border-box;

  .note {
    min-height: 100px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.16);
    color: $font-color;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      150deg,
      rgba(0, 0, 0, 0.787) 0%,
      rgba(9, 9, 27, 0.883) 35%,
      rgba(0, 69, 83, 0.884) 100%
    );
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-rendering: optimizelegibility;
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 12px;
    }

    .title-container {
      display: flex;
      justify-content: space-between;
      .title {
        margin: 0;
        //color: white;
        color: $font-color;
        font-weight: 600;
      }

      .meta {
        position: absolute;
        right: 5px;
        top: 5px;
        .important {
          color: red;
        }
        .done {
          color: limegreen;
        }
      }
    }

    .body {
      padding-top: 6px;
      padding-bottom: 46px;

      .line {
        display: flex;
        line-height: 16px;
        height: 16px;
        padding: 3px 0px;

        &.completed {
          border-right: 2px solid limegreen;
          textarea {
            color: limegreen;
          }
          .icon-btn.done {
            display: none;
          }
          input,
          .uk-icon.bulet {
            color: limegreen;
          }
        }
        &.canceled {
          border-right: 2px solid lightgrey;
          .icon-btn.cancel {
            display: none;
          }
          textarea {
            color: lightgray;
          }
          input,
          .uk-icon.bulet {
            color: lightgrey;
          }
        }
        &.inProgress {
          border-right: 2px solid $color-info;
          .icon-btn.in-progress {
            display: none;
          }
          textarea {
            color: $color-info;
          }
          input,
          .uk-icon.bulet {
            color: $color-info;
          }
        }
        .icon-btn {
          visibility: hidden;
        }
        &:hover {
          .icon-btn {
            visibility: visible;
          }
        }

        textarea {
          resize: none;
          margin-left: -26px;
          padding-left: 32px;
          margin-right: -24px;
          padding-right: 26px;
          border-radius: 0;
          border-top: none;
          border-left: none;
          border-right: none;
          background: transparent;
          border: none;
          color: $font-color;
          line-height: 17px;
          font-size: 16px;
          height: min-content;
          display: inline-table;
          word-wrap: break-word;
          word-break: break-word;
          cursor: pointer;
          &::-webkit-scrollbar {
            display: none;
          }
          &:focus {
            cursor: text;
          }
        }
        .uk-icon {
          line-height: 16px;
        }
        .icon-btn.delete {
          &:hover {
            color: orangered;
          }
        }
      }
    }
    .actions {
      margin: auto;
      width: fit-content;
      min-width: 70%;
      background-color: #252526;
      border-radius: 10px;
      padding: 4px 16px;
      display: flex;
      justify-content: space-around;
      transition: bottom 0.7s ease;
      position: absolute;
      bottom: -80px;
      left: 0;
      right: 0;
    }

    &.completed {
      // border-left: 2px solid limegreen;
      // border-top: 2px solid limegreen;
      border-bottom: 2px solid limegreen;
      border-right: 2px solid limegreen;
      .line {
        pointer-events: none;
        cursor: default;
      }
      .title {
        color: limegreen !important;
      }
    }

    &.important {
      // border-left: 2px solid limegreen;
      // border-top: 2px solid limegreen;
      .title {
        color: red !important;
      }
      border-bottom: 2px solid red;
      border-right: 2px solid red;
    }

    &.inProgress {
      // border-left: 2px solid limegreen;
      // border-top: 2px solid limegreen;
      .title {
        color: $color-info !important;
      }
      border-bottom: 2px solid $color-info;
      border-right: 2px solid $color-info;
    }

    &:hover {
      .actions {
        bottom: 10px;
      }
    }
  }
}

.add-note {
  .line,
  .title {
    display: flex;
    margin-top: 6px;

    &:hover {
      .uk-icon:not(.delete) {
        color: $color-info;
      }
    }

    input {
      height: 36px;
      margin-left: -28px;
      padding-left: 30px;
      margin-right: -26px;
      padding-right: 32px;
      border-radius: $border-radius;
    }
  }
  .line {
    .uk-icon {
      line-height: 36px;
    }
  }
  .title {
    .uk-icon {
      line-height: 32px;
    }
  }
}
