<div class="container">
    <div class="note">
        <div class="title-container">
            <h2 class="title">Note title</h2>
            <span class="date">18/03/2020</span>
        </div>
        <div class="body">
            description
        </div>
    </div>
    <div class="note">
        <div class="title-container">
            <h3 class="title">Note title</h3>
            <span class="date">18/03/2020</span>
        </div>
        <div class="body">
            description
        </div>
    </div>
    <div class="note success">
        <div class="title-container">
            <h2 class="title">Note title</h2>
            <span class="date">18/03/2020</span>
        </div>
        <div class="body">
            description
        </div>
    </div>
</div>