@import "../styles/variables.scss";

body,
:host {
  --border-radius: 10px;
}

.home-root {
  height: 100%;
  width: 100%;
  background: transparent;
  background: #000000a1;
  overflow: hidden;
  transition: filter 0.7s ease;
  box-sizing: border-box;
  position: relative;
  border-radius: 20px;
}

.content-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  min-width: 100%;
  bottom: 60px;
  padding: 10px 0 10px 0;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    display: none;
  }

  .folder-title {
    color: white;
    padding: 6.5px 10px;
    margin: 0 0 10px 0;
    background-color: $card-color;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    min-width: 100%;
    box-sizing: border-box;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
  }
}

.menu-container {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  width: 100%;

  .menu {
    // background: linear-gradient(0deg, rgba(15, 22, 33, 0.945) 0%, rgb(30, 45, 68) 100%);
    // border: 1px solid rgba(255, 255, 255, 0.1);
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: $border-radius;
    padding: 4px 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 10px;

    .uk-dropdown {
      border-radius: $border-radius;
    }

    button {
      margin: 0 4px;
      width: 40px;
      padding: 6px;
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
      color: white;

      &:not(:disabled):hover {
        background: rgba(#1f1f1f, 0.8);
        color: $color-info;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }
}

.uk-modal-header h2 {
  display: flex;
  line-height: 28px;
}

.minimized {
  .menu-container {
    top: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 8px;
    height: calc(100% - 20px);
  }

  .content-container {
    visibility: hidden;
  }
}